<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Historial Emocional</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="container">
        <h1>Historial Emocional</h1>
        <div>
            {% if historial %}
            {% for registro in historial %}
            <div class="historial-entry">
                <p><strong>Fecha:</strong> {{ registro[0] }}</p>
                <p><strong>Emoción:</strong> {{ registro[1] }}</p>
                <p><strong>Comentario:</strong> {{ registro[2] }}</p>
                <p><strong>Nombre:</strong> {{ registro[3] }}</p>
            </div>
            {% endfor %}
            {% else %}
            <p>No hay emociones registradas.</p>
            {% endif %}
        </div>
        <a href="/" class="btn">Volver a la página principal</a>
    </div>
</body>

</html>